.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.message {
  font-size: 30px;
  -webkit-animation: textfocusin 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: textfocusin 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.messageAnimation {
  font-size: 70px;
  margin-bottom: 20px;
  -webkit-animation: tracking-in-expand 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    letter-spacing: 0em;
    opacity: 1;
  }
  80% {
    letter-spacing: 0em;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    letter-spacing: 0em;
    opacity: 1;
  }
  80% {
    letter-spacing: 0em;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}


@-webkit-keyframes textfocusin {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  20% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  80% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}
@keyframes textfocusin {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  20% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  80% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}