.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.back-icon {
  left: 0; 
  top: 50%;
  transform: translateY(-50%); 
  position: absolute; 
  padding: 5px 10px; 
  border-radius: 5px; 
  background-color: purple; 
  color: white; 
  cursor: pointer; 
  font-size: 30px;
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
    "i i i i i i i i i c c c"
    "d d d d d d d d d c c c";
}

.gridImage {
  grid-area: i;
  /* width: 450px;  */
  width: auto;
  height: 270px;
  place-content: center;
  transform: translateX(-55%);
  position: relative;
  left: 50%; 
  margin: 0px; 
  padding: 0px; 
  overflow: hidden; 
  box-shadow: 0 0 20px 5px #b8b8b8;
  border-radius: 10px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 10px
}

.gridCheckout {
  grid-area: c;
  min-width: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px
}

.gridDescription {
  grid-area: d;
  width: 100%;
  padding-right: 15px;
}

.checkout-button {
  text-align: center; 
  background-color: purple; 
  color: white; 
  border-radius: 5px; 
  margin: 7px; 
  padding: 5px
}

.card {
  margin: 1rem 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 280px;
  max-width: 700px;
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  text-align: start; 
  width: 65%
}

.card-title {
  display: flex; 
  margin: 0 1rem 1rem 1rem; 
  width: 90%; 
  justify-content: flex-start
}

.cardImage {
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 768px) {

  .gridImage {
    /* width: 360px; */
    width: auto;
    height: 216px;
    margin-left: 15px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 590px) {

  .gridImage {
    /* width: 300px; */
    width: auto;
    height: 180px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
      "i i i i i i i i i i i i"
      "c c c c c c c c c c c c"
      "d d d d d d d d d d d d";
  }

  .gridImage {
    width: auto;
    height: 228px;
    transform: translateX(-50%);
    margin-left: 0;

  }

}

@media screen and (max-width: 320px) {
  .grid {
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
      "i i i i i i i i i i i i"
      "c c c c c c c c c c c c"
      "d d d d d d d d d d d d";
  }
  
}